
/* Cores */
$azul: #001f3f;
$preto: #3F3F40;
$amarelo: #F7CA11;
$cinza: #3b3b3b;
$gray-baby: #bdbdbd;
$branco: #F4F4F4;
$cinza-claro: #9F9F9F;
$roxo-escuro: #3019B2;
$Azul-claro: #3442b5;
$roxo-dark: #271C47;
$card-nome-cor: #3c28bc;
$cor-de-disfarce: #F6F5F2;
$cor-de-linha: #dedede;
$cor-de-border: #F0F0F0;
$white: #FFFFFF;
$escuridao: #161615;
$cor-footer: #222222B5;
$cor-linha-footer: #2828282E;
$bordar-quantidade: #D9D9D9;
$colo-fechar: #707070;




/* Fontes */
$fonte-principal: 'Poppins', sans-serif;